{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

  {% block body %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h1 class="my-4">Bienvenue sur le blog de D@rklo</h1>

        <!-- BDD Posts -->
        {% for post in posts %}
        <div class="card mb-4">

          <div class="card-header ms-auto bg-white">
            {% for categorie in post.categorie %}
              <span class="badge bg-secondary">{{ categorie.nom }}</span>
            {% endfor %}
          </div>
          <img class="card-img-top" src="{{ post.image }}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"> {{ post.titre }} </h2>
            <p class="card-text"> {{ post.contenu|u.truncate (100, '...', false ) }} </p>
            <a href="/news/{{ post.slug }}/{{ post.id }}" class="btn btn-primary">Voir Plus &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posté le {{ post.createdAt|date('d/m/Y') }} par
            <a href="#"> {{ post.user.pseudo }}</a>
          </div>
        </div>
        {% endfor %}

        <div class= "d-flex justify-content-center">
          {% do posts.setPageRange(3) %}
          {{ knp_pagination_render(posts, 'base/pagination.html.twig') }}
        </div>

      </div>
      {% block sidebar %} 
        {{ parent() }}
      {% endblock %}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}
